@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&family=Raleway:wght@300&display=swap");

html {
  font-family: "Mulish", sans-serif;
  h1,
  h2 {
    font-family: "Raleway", sans-serif;
  }
}

//=========== SASS VARIABLES ===========
$PRIMARY-COLOR-0: #1b3e91;
$PRIMARY-COLOR-1: #4f7fd1;
$PRIMARY-COLOR-2: #21a8e1;
$PRIMARY-COLOR-3: #0096d93d;

.box-shadow {
  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow: hidden;
}

.scrollable-Area {
  height: 640px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-wrapper {
  .chatUserMeta-wrapper {
    background-color: rgb(172, 169, 169);
  }
}

.waitingList-wrapper {
  flex-grow: 1;
}
.userQueue-wrapper {
  h4 {
    line-height: 24px;
  }
}

.chatInput-wrapper {
  background-color: $PRIMARY-COLOR-3;
  img {
    height: 78px;
    object-fit: cover;
    margin-right: 1rem;
  }
  .text-area-wrapper {
    flex-grow: 1;
  }
  .sendAttachment-Btn-wrapper {
    cursor: pointer;
    width: 32px;
    height: 32px;
    label {
      cursor: pointer;
    }
    svg {
      height: 24px;
      width: 24px;
      transform: rotate(90deg);
    }
  }
  .sendMessage-Btn-wrapper {
    cursor: pointer;
    width: 48px;
    height: 48px;
    svg {
      height: 32px;
      width: 32px;
    }
  }
}
