@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&family=Raleway:wght@300&display=swap");

html {
  font-family: "Mulish", sans-serif;
  h1, h2 {
    font-family: "Raleway", sans-serif;
  }
}

.box-shadow {
  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow: hidden; 
}

.scrollable-Area{
  height: 640px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
    }

.chat-wrapper{
  .chatUserMeta-wrapper{
    background-color: rgb(172, 169, 169);
  }
}

.userQueue-wrapper{
  h4{
    line-height: 31px;
  }
}